---
permalinkMin: "/contact.html"
permalink: "/{{ locale }}/contact.html"
translationKey: "contact"
title: "Contact"
description: "Chinese description"
---

{% extends "layouts/base.njk" %}

{% block content %}
  <p>Contact</p>
{% endblock %}
