---
permalinkMin: "/index.html"
permalink: "/{{ locale }}/index.html"
translationKey: "homepage"
title: "Sino Global Capital"
description: "Chinese description"
---

{% extends "layouts/base.njk" %}

{% block content %}
<div class="mt3 mt5-l">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-50-l pa2 mt5-l">
      <h1 class="f1">推動區塊鍊和數字資產生態系統向前發展</h1>
      <p class="f3 lh-copy mb4">我們為一流的公司提供戰略投資，幫助他們在中國市場蓬勃發展。</p>
      <a class="f4 link dim br2 ph5 pv3 dib white bg-dark-blue" href="/zh/contact.html">保持聯繫</a>
      <a class="f4 link dim br2 ph3 pv3 dib underline black-80" href="/zh/portfolio.html">查看我們的產品組合</a>
    </div>
    <div class="fl w-100 w-50-l pa2 mt4 tr-l">
      <img src="/assets/img/sino-portfolio.svg" alt="信和環球資本投資組合" width="580" height="480" class="mw-100 h-auto">
    </div>
  </div>
</div>
{% endblock %}
