---
permalinkMin: "/index.html"
permalink: "/{{ locale }}/index.html"
translationKey: "homepage"
title: "Sino Global Capital"
description: "Chinese description"
---

{% extends "layouts/base.njk" %}

