---
permalinkMin: "/about.html"
permalink: "/{{ locale }}/about.html"
translationKey: "about"
title: "About"
description: "English description"
---

{% extends "layouts/base.njk" %}

{% block content %}
  <p>About</p>
{% endblock %}
