---
permalinkMin: "/index.html"
permalink: "/{{ locale }}/index.html"
translationKey: "homepage"
title: "Home"
description: "English description"
---

{% extends "layouts/base.njk" %}

{% block content %}
  <div class="flex items-center justify-between mt5">
    <div class="w-50 pa3 mr2">
      <h1 class="f1">Moving the blockchain and digital assets ecosystems forward</h1>
      <p class="f3 lh-copy mb4">We provide strategic investment to best-in-class companies and help them to thrive in the China market.</p>
      <a class="f4 link dim br2 ph5 pv3 dib white bg-dark-blue" href="/en/contact.html">Get in touch</a>
      <a class="f4 link dim br2 ph3 pv3 dib underline black-80" href="/en/portfolio.html">View our portfolio</a>
    </div>
    <div class="pa3 ml2">
      <img src="/assets/img/sino-portfolio.svg" alt="Sino Global Capital Portfolio" width="580" height="480">
    </div>
  </div>
{% endblock %}
