---
permalinkMin: "/index.html"
permalink: "/{{ locale }}/index.html"
translationKey: "homepage"
title: "Home"
description: "English description"
---

{% extends "layouts/base.njk" %}

{% block content %}
  <p>Home</p>
{% endblock %}
