---
permalinkMin: "/team.html"
permalink: "/{{ locale }}/team.html"
translationKey: "team"
title: "Team"
description: "English description"
---

{% extends "layouts/base.njk" %}

{% block content %}
  <p>Team</p>
{% endblock %}
