<ul class="c-lggnav dib pl0">
  {% for lgg in site.languages %}
    {# set translatedUrl to the homepage of that language by default #}
    {% set translatedUrl = "/" + lgg.code + "/" %}

    {# set current language class #}
    {% set activeClass = "is-active" if lgg.code == locale else "" %}

    {# loop through all the content of the site #}
    {% for item in collections.all %}
      {# check matches #}
      {% if item.data.translationKey == translationKey and item.data.locale == lgg.code %}
        {% set translatedUrl = item.url %}
      {% endif %}
    {% endfor%}

    <li class="c-lggnav__item">
      <a class="c-lggnav__link {{ activeClass }}" href="{{ translatedUrl }}">
        <img src="https://lipis.github.io/flag-icon-css/flags/4x3/{{ lgg.label }}.svg" width="16">
      </a>
    </li>
  {% endfor %}
</ul>
