<nav class="animenu dib">
  <button class="animenu__toggle" aria-label="Toggle main menu">
    <span class="animenu__toggle__bar"></span>
    <span class="animenu__toggle__bar"></span>
    <span class="animenu__toggle__bar"></span>
  </button>
  <ul class="animenu__nav">
    {% for navitem in mainnav[locale] %}
      {% set activeClass = "is-active" if navitem.url == "/" + locale + permalinkMin else "" %}
      <li class="animenu__nav__item">
        <a href="{{ navitem.url }}" class="animenu__nav__link {{activeClass}}">{{ navitem.label }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
